<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jordans List</title>
</head>

<body>
    <h1>Edit Jordans</h1>
    <form action="/jordans/<%=jordans._id%>?_method=PUT" method="POST">
        name: <input type="text" name="name" value="<%=jordans.name%>" />
        <br />
        description: <input type="text" name="description" value="<%=jordans.description%>" />
        <br/>
        <img img: <input type="text" name="img" value="<%=jordans.img%>">/>
        <br/>
        price: <input type="number" name="price" value="<%=jordans.price%>" /> 
        <br/>
        qty: <input type="number" name="qty" value="<%=jordans.qty%>" />
        <br/> 
        <input type="submit" value="Submit Changes" />
    </form>
</body>

</html>